[{:arachne/name :org.arachne-framework/arachne-assets
  :arachne/schema arachne.assets/schema
  :arachne/configure arachne.assets/configure
  :arachne/dependencies [:org.arachne-framework/arachne-core]}]
