[{:arachne.module/name :org.arachne-framework/arachne-assets
  :arachne.module/schema arachne.assets/schema
  :arachne.module/configure arachne.assets/configure
  :arachne.module/dependencies [:org.arachne-framework/arachne-http]}]
